.cardsContainer{
    margin:0 auto;
    max-width: 1000px; /* make sure only 3 cards will be auto filled in 1 row*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*keep it responsive to devices*/
    grid-auto-rows: auto;
    gap: 15px;
    font-family: sans-serif;
    padding-top: 30px;
}

.foodImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display:block;
    border-top: 2px solid aqua;
    border-right: 2px solid aqua;
    border-left: 2px solid aqua;
    border-bottom: 2px solid aqua;
} 

.foodContent{
    line-height:1; /*single spacing*/
    font-size:small;
    padding: 5%;
    background: burlywood;
}

.foodPrice{
    padding: 1%;
    display:flex;
    align-items:flex-end;
    background:chartreuse;
    border: 2px solid aqua;
}